*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}
 .bottom {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

/* .tester:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.697);
} */
/* .tester{
  background-image: url('./img/nick-wanzek-keilan-torres.jpg');
  background-size: contain;
  background-position: top;
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%) 
  } 
  */

.headline {
  font-family: 'IM Fell English SC', serif;
  font-size: 150%;
  margin: 5px;
  color:black;
}

.cordele {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  color: black;
  letter-spacing: 4px;
  font-weight: 900;
  filter: brightness(150%);
  	

animation-name: moveInBottom;
animation-duration: 3s;

  /* background-color: blue; */
}

.cordele_2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  margin:.2em;
  color: black;
  letter-spacing: 3px;
  font-weight: 900;
  filter: brightness(150%);
  	

}



.right {
  float:right;
}

/* font-family: 'Spicy Rice', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Kumar One Outline', cursive;
font-family: 'Arimo', sans-serif; */

.card-img-top {
width: 5px;
}
  
.navspace {
  margin: 4px;
}

.space{
  margin-bottom: 5px;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }

}